{{#if (or page.previous page.next)}}
    <div class="pagination">
        {{#if page.previous}}
            <a class="pagination-previous" href="{{{relativize page.previous.url}}}">
                <span class="direction">← Previous</span>
                <span class="title">{{page.previous.title}}</span>
            </a>
        {{/if}}
        {{#if page.next}}
            <a class="pagination-next" href="{{{relativize page.next.url}}}">
                <span class="direction">Next →</span>
                <span class="title">{{page.next.title}}</span>
            </a>
        {{/if}}
    </div>
{{/if}}
