name: Build and Deploy Docs

on:
  push:
    branches: ["master"]  # main Trigger on push to the main branch
  workflow_dispatch:  # Allow manual runs

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js (for Antora)
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Antora
        run: npm i -g @antora/cli @antora/site-generator

      - name: Verify Antora installation
        run: antora --version

      - name: Build Docs with Antora
        run: |
          cd doc
          chmod +x antora_docs.sh
          ./antora_docs.sh
          cd ..

      - name: Prepare artifact for GitHub Pages
        run: cp -r doc/html .public

      - name: Upload artifact for GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: .public  # e.g. bin.v2/libs/foo/doc/html or similar

  deploy-docs:
    needs: build-docs
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
